@import "tailwindcss";

@theme{
  --color-paper: #f2efe9;
  --color-ink: #121110;
  --color-ink-soft: #6b665d;
  --color-hot: #ff4a1c;

  --color-sample: #ff4a1c;
  --color-interpolation: #2b4cff;
  --color-cover: #0f8a5f;
  --color-remix: #8a2cff;

  --font-display: "Archivo", sans-serif;
  --font-mono: "DM Mono", monospace;
}

@layer base {
  body{
    @apply bg-paper text-ink font-display;
  }
}